<div class="main">
    <div class="contain">
        <div class="signup-content">
            <div class="signup-img">
                <img src="../../assets/Images/Car-Insurance.jpg" alt="">
            </div>
            <div class="signup-form">
                <form name="form" (ngSubmit)="login(Email, Password)" #f="ngForm">
                    <h2>Login</h2>
                    <div class="form-group">
                        <label for="email">Email ID :</label>
                        <input type="email"  name="Email" #Email="ngModel" [(ngModel)]="model.Email" class="form-control sty1" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password :</label>
                        <input type="password"  name="Password" #Password="ngModel" [(ngModel)]="model.Password" class="form-control"  
                        placeholder="Password" required>
                        <span class="select"><i class="zmdi zmdi-caret-down"></i></span>
                        
                    </div>
                    <div class="form-submit">
                        <button class="submit" id="register" (click)="finalregister()">Register</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="submit" id="register1" ><a routerLink="/ForgotPassword">Forgot Password</a></button>
                    </div>
                    <div class="form-submit">
                        <input type="submit" value="Login" class="submit" name="submit" id="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>