<div class="bg-contact3" style="background-image: url('../../assets/Images/car.jpg');">
    <div class="container-contact3">
        <div class="wrap-contact3">
            <form class="contact3-form validate-form" #buyForm="ngForm" (ngSubmit)="submit(vehicle, manufacturer, model, driving, pdate, rno, eno, cno, image1, image2, image3)">
                
                <span class="contact3-form-title">
                    Buy Insurance
                </span>

                <div class="wrap-contact3-form-radio">
                    <div class="contact3-form-radio m-r-42">
                        <input class="input-radio3" id="radio1" #vehicle="ngModel" [(ngModel)]="buy.vehicle" type="radio" name="vehicle" value="FourWheeler" checked="checked" (change)="changeCar($event)">
                        <label class="label-radio3" for="radio1">
                            4 Wheeler
                        </label>
                    </div>

                    <div class="contact3-form-radio">
                        <input class="input-radio3" id="radio2" #vehicle="ngModel" [(ngModel)]="buy.vehicle" type="radio" name="vehicle" value="TwoWheeler" (change)="changeCar($event)">
                        <label class="label-radio3" for="radio2">
                            2 Wheeler 
                        </label>
                    </div>
                </div>
                <div *ngIf="isSubmitted && buyForm.invalid" class="alert alert-danger">
                    Please select either value
                </div>
            

                <div class="wrap-input3 validate-input" data-validate="This field is required">
                    <input class="input3" type="text" #manufacturer="ngModel" [(ngModel)]="buy.manufacturer" name="manufacturer" id="manufacturer" placeholder="Enter Car/Bike Manufacturer" required/>
                    <span class="focus-input3"></span>
                </div>
                <div *ngIf="(manufacturer.touched || buyForm.submitted) && manufacturer.errors?.required" class="alert alert-danger">
                    Manufacturer Details is required
                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <div class="wrap-input3 form-select">
                            
                            <select class ="mdb-select md-form" #model="ngModel" [(ngModel)]="buy.model" style="margin-bottom: 8px;" name="model" id="model" required>
                                <option [ngValue]="null" disabled>Select Model</option>
                                <option *ngFor="let car of cars" [ngValue]="car.name">{{car.name}}</option>
                            </select>
                            <span class="select-icon"><i class="zmdi zmdi-caret-down"></i></span>
                            
                        </div>
                    </div>
                </div>
                <div *ngIf="isSubmitted && buyForm.invalid" class="alert alert-danger">
                    Select value
                </div>
                <!--<div class="wrap-input3 validate-input" data-validate = "Valid field is required: abc123">
                    <input class="input3" type="text" #model="ngModel" [(ngModel)]="buy.model" name="model" placeholder="Enter Car/Bike Model" required/>
                    <span class="focus-input3"></span>
                </div>
                <div *ngIf="(model.touched || buyForm.submitted) && model.errors?.required" class="alert alert-danger">
                    Model Details is required
                </div>-->
                
                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: MH02 123">
                    <input class="input3" type="text" #driving="ngModel" [(ngModel)]="buy.driving" name="driving" placeholder="Enter Driving Licence" required/>
                    <span class="focus-input3"></span>
                </div>
                
                <div *ngIf="(driving.touched || buyForm.submitted) && driving.errors?.required" class="alert alert-danger">
                    Driving License is required
                </div>
            
                <div class="wrap-input3 validate-input" data-validate = "This field is required">
                    <label class="input3" style="color: white;">Enter Vehicle Purchase Date</label>
                    <input class="input3" type="date" #pdate="ngModel" [(ngModel)]="buy.pdate" name="pdate" placeholder="Enter Purchase Date" required [max]="getToday()">
                    <span class="focus-input3"></span>
                </div>
                <div *ngIf="(pdate.touched || buyForm.submitted) && pdate.errors?.required" class="alert alert-danger">
                    Purchase Date is required
                </div>
            
                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: 1234">
                    <input class="input3" type="text" #rno="ngModel" [(ngModel)]="buy.rno" name="rno" placeholder="Enter Registration Number" required/>
                    <span class="focus-input3"></span>
                </div>
                <div *ngIf="(rno.touched || buyForm.submitted) && rno.errors?.required" class="alert alert-danger">
                    Registration Number is required
                </div>
                
                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: 1234">
                    <input class="input3" type="text" #eno="ngModel" [(ngModel)]="buy.eno" name="eno" placeholder="Enter Engine Number" required/>
                    <span class="focus-input3"></span>
                </div>
                <div *ngIf="(rno.touched || buyForm.submitted) && rno.errors?.required" class="alert alert-danger">
                    Engine Number is required
                </div>

                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: abc1234">
                    <input class="input3" type="text" #cno="ngModel" [(ngModel)]="buy.cno" name="cno" placeholder="Enter Chassis Number" required/>
                    <span class="focus-input3"></span>
                </div>
                <div *ngIf="(cno.touched || buyForm.submitted) && cno.errors?.required" class="alert alert-danger">
                    Chassis Number is required
                </div>
            
                <div class="wrap-input3 validate-input">
                    <label class="input3" style="color: white;">Upload Aadhar Card</label>
                    <input class="input3" type="file" #image1 accept="image/*" required (change)="handleFileInput($event.target.files)"/>
                    <span class="focus-input3"></span>
                </div>
                
                <div class="wrap-input3 validate-input">
                    <label class="input3" style="color: white;">Upload Driving License</label>
                    <input class="input3" type="file" #image2 accept="image/*" required (change)="handleFileInput1($event.target.files)"/>
                    <span class="focus-input3"></span>
                </div>

                <div class="wrap-input3 validate-input">
                    <label class="input3" style="color: white;">Upload Vehicle Photo</label>
                    <input class="input3" type="file" #image3 accept="image/*" required (change)="handleFileInput2($event.target.files)"/>
                    <span class="focus-input3"></span>
                </div>
                
                <div class="container-contact3-form-btn">
                    <button class="contact3-form-btn" style="align-self: center">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>