<div class=" py-5">
  <div class="container py-5">
      <div class="col-12">
          <h3>About Us</h3>
          <hr>
       </div>
  <div class="row row-content ">
      <div class="col-12 col-md-6 ">
          <h2>Our History</h2>
          <p>We started off in 2018 as a team of four members as an <em>Insurance Company</em> par excellence in India.
            Wherein, the main agenda of the company was to provide with the best facilities towards providing our customers with full proof and reliable services and till date the record of the company has satisfied all business needs of all the clients under us. We have expanded to become a team of 1000 members with the countries most skillful and reliable software and on ground staff within our company. All our company has believed in facilitating in these past years is ensuring that any shortcoming comes your way we will always be there as helping hand. Here at General Insurance your well being is our major priority!</p>
       </div>
      <div class="col-sm">
          <div class="card">
              <h3 class="card-header body-color text-white">Facts At A Glance</h3>
              <div class="card-body">
                  <dl class="row">
                      <dt class="col-6">Started</dt>
                      <dd class="col-6">3 Dec. 2018</dd>
                      <dt class="col-6">Major Stake Holder</dt>
                      <dd class="col-6">HK Fine Foods Inc.</dd>
                      <dt class="col-6">Last Year's Turnover</dt>
                      <dd class="col-6">$1,250,375</dd>
                      <dt class="col-6">Employees</dt>
                      <dd class="col-6">1000</dd>
                  </dl>
              </div>
          </div>
      </div>
       <div class="col-12">
          <div class="card card-body " style="background-color: #E6E6FA;">
              <blockquote class="blockquote">
                  <p class="mb-0">Car Insurance is like a parachute – If you don’t have it when you need it, you will never need it again</p>
                  <footer class="blockquote-footer">Yogi Berra,
                      <cite title="Source Title">The Wit and Wisdom of Yogi Berra,
                      P. Pepe, Diversion Books, 2014</cite>
                  </footer>
              </blockquote>
          </div>
      </div>
  </div>
  
  
  
  
        <div class="row mb-4">
          <div class="col-lg-5 ">
            <h2 class="display-4 font-weight-light">Our team</h2>
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
    
        <div class="row text-center">
          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5" >
            <div class="rounded shadow-sm py-5 px-4 card-color"><img src="../../assets/Images/Divya.JPG" alt="" width="173" class="img-fluid  mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Divya Harchandani</h5><span class="small text-uppercase ">Team Leader</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item  "><a href="#" class="social-link btn btn-sm btn-fb " ><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-tw "><i class="fab fa-twitter"></i></a></li>
                <br>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-ins"><i class="fab fa-instagram "></i></a></li>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-li"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->
    
          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class=" rounded shadow-sm py-5 px-4 card-color"><img src="../../assets/Images/Gaurang.jpg" alt="" width="167" height="300" class="img-fluid  mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Gaurang Oza</h5><span class="small text-uppercase ">Team Member</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item  "><a href="#" class="social-link btn btn-sm btn-fb " ><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-tw "><i class="fab fa-twitter"></i></a></li>
                <br>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-ins"><i class="fab fa-instagram "></i></a></li>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-li"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->
    
          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class=" rounded shadow-sm py-5 px-4 card-color"><img src="../../assets/Images/Nand.jpg" alt="" width="120" class="img-fluid  mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Nand Nalawade</h5><span class="small text-uppercase ">Team Member</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item  "><a href="#" class="social-link btn btn-sm btn-fb " ><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-tw "><i class="fab fa-twitter"></i></a></li>
                <br>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-ins"><i class="fab fa-instagram "></i></a></li>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-li"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->
    
          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class=" rounded shadow-sm py-5 px-4 card-color"><img src="../../assets/Images/Renita.jpeg" alt="" width="103" class="img-fluid  mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Renita D'silva</h5><span class="small text-uppercase ">Team Member</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item  "><a href="#" class="social-link btn btn-sm btn-fb " ><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-tw "><i class="fab fa-twitter"></i></a></li>
                <br>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-ins"><i class="fab fa-instagram "></i></a></li>
                <li class="list-inline-item "><a href="#" class="social-link btn btn-sm btn-li"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->
    
        </div>
      </div>
    </div>