<h1 style="text-align: center; margin-top: 10px; margin-left: 16em; width: 300px; color: slateblue;
text-shadow: 2px 2px 4px #000000;" class="border border-primary">Admin Dashboard</h1>
<div class="row" style="margin-left: 450px;">
    <div class="column">
<div class="card">
    <div class="imgBx">
        <span> <i class="fas fa-file-alt img1"></i></span>


    </div>
    <div class="contentBx">
        <a class="buy btn purple-gradient "data-toggle="modal" data-target="#modalSubscriptionForm">New insurance Policies</a>
    </div>
</div>

    </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="column">
<div class="card">
    <div class="imgBx">
        <span> <i class="	far fa-file-alt img1"></i></span>


    </div>
    <div class="contentBx">
        <a class="buy btn purple-gradient" data-toggle="modal" data-target="#modalSubscriptionForm1">Claim insurance Policies</a>
    </div>
</div>
</div>

</div>





<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 60%">
    <div class="modal-content">
<table class="center" class="table table-hover">
    <thead>
    <tr>
        <td>Customer Id</td>
        <td>Customer Name</td>
        <td>Adhar</td>
        <td>Vehicle Document</td>
        <td>Driving </td>
        <td>Approved</td>
    </tr>
    </thead>
        <tbody *ngFor="let e of empdetails">
            <tr>
                <td>{{e.CustomerID}}</td>
                <td>{{e.CustomerName}}</td>
                <td><img src="http://localhost:20481/Image/{{e.adhar}}" height="100" width="100"></td>
                <td><img src="http://localhost:20481/Image/{{e.vehicledocument}}" height="100" width="100"></td>
                <td><img src="http://localhost:20481/Image/{{e.License}}" height="100" width="100"></td>
                <td><button (click)="Approve(e.PolicyID)">Approve</button></td>
            </tr>

        </tbody>
</table>
</div>
</div>
</div>


<div class="modal fade" id="modalSubscriptionForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 60%">
    <div class="modal-content">
<table class="center" class="table table-hover">
    <thead>
    <tr>
        <td>PolicyId</td>
        <td>Claim Amount</td>
        <td>Claim Reason</td>
        <td>Document</td>
        <td>Claim Status</td>
    </tr>
    </thead>
        <tbody *ngFor="let e of empdetails1">
            <tr>
                <td>{{e.PolicyID}}</td>
                <td>{{e.ClaimAmount}}</td>
                <td>{{e.CLaimReason}}</td>
                <td><img src="http://localhost:20481/Image/{{e.ClaimVehicleConditionURL}}" height="100" width="100"></td>
                <td><button (click)="ApproveClaim(e.ClaimID)">Approve</button></td>
            </tr>

        </tbody>
</table>
</div>
</div>
</div>