<div class="row mx-auto">
    <form class="form-elegant" #cForm="ngForm" (ngSubmit)="submit(policyNo, period, mobilenumber)">
        <!--Form without header-->
        <div class="card" style="margin-left: 570px; margin-top: 100px;">
      
          <div class="card-body mx-4">
            <div class="text-center">
                <h3 class="dark-grey-text mb-5"><strong>Renew Insurance</strong></h3>
              </div>
             <!-- Material input name -->
          <div class="md-form form-sm">
            <select  id ="Select" name="policyNo" class="browser-default custom-select" #policyNo="ngModel" [(ngModel)]="renew.policyNo">
                <option selected>Select Policy Number</option>
                <option id=lbl></option>
            </select>
          </div>
          <!-- Material input email -->
          <div class="md-form form-sm">
            <input type="text" #mobilenumber="ngModel" name="mobilenumber" [(ngModel)]="renew.mobilenumber" id="materialFormEmailModalEx1" class="form-control form-control-sm">
            <label for="materialFormEmailModalEx1">Mobile Number</label>
          </div>
  
          <!-- Material input subject -->
          <div class="md-form form-sm">
            <select #period="ngModel" name="period" [(ngModel)]="renew.Period" id ="Select" class="browser-default custom-select">
                <option [ngValue]="null" selected>Select Period</option>
                <option *ngFor="let period of periods" [ngValue]="period">{{period}}</option>
            </select>
          </div>
          <div class="text-center mt-4 mb-2">
            <button class="btn btn-primary" type="submit">Renew
              <i class="fa fa-send ml-2"></i>
            </button>
          </div>
        </div>
        </div>
    </form>
</div>