<section class="contact">
    <div class="content">
        <h2>Contact Us</h2>
    </div>
    <div class="container">
        <div class="contactInfo">
            
            <div class="box">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p style="color:slateblue;padding: 1px;">507-475-6094</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p style="color:slateblue;">myfirstinsurance@gmail.com</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p style="color:slateblue;">LTI Powai,Mumbai:400087</p>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.5980900672657!2d72.8919773149019!3d19.12527978705964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c80e4988253f%3A0xf8fe3fa4bb6547c!2sL%26T%20Infotech%20Limited%20-%20LTI!5e0!3m2!1sen!2sin!4v1606494451857!5m2!1sen!2sin"
          width="70%" height="200px" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="contactForm">
            <form method="POST" [formGroup]="UserForm " (ngSubmit)="onFormSubmit()">
                <h2>Contact Us</h2>
                <div class="inputBox">
                    <input type="text" name="CustomerName" formControlName="CustomerName"  required="required">
                    <span>Full Name</span>
                </div>
                        <div class="alert alert-danger" *ngIf="CustomerName.errors && CustomerName.touched">
                            <small *ngIf="CustomerName.errors.required">
                              Full Name is required
                            </small>
                            <small  *ngIf="CustomerName.errors.pattern">
                              Name should contain only first name & last name
                            </small>
                        </div>    
                        <div class="inputBox">
                            <input type="text" name="Email" formControlName="Email" required="required">
                            <span>Email</span>
                        </div>
                    <div class="alert alert-danger" *ngIf="Email.errors && Email.touched">
                        <small *ngIf="Email.errors.required">
                          Email is required
                        </small>
                        <small  *ngIf="Email.errors.pattern">
                          Email is not in correct format!!
                        </small>
                    </div>   
                    
                    <div class="inputBox">
                        <input type="number" name="ContactNumber" formControlName="ContactNumber" required="required">
                        <span>Contact</span>
                    </div>
                    <div class="alert alert-danger" *ngIf="ContactNumber.errors && ContactNumber.touched">
                        <small *ngIf="ContactNumber.errors.required">
                          Contact Number is required
                        </small>
                        <small *ngIf="ContactNumber.errors.pattern">
                          Please enter a 10 digit Phone number!!!
                        </small>
                    </div> 
                    <div class="inputBox">
                        <input type="text" name="Subject" formControlName="Subject" required="required">
                        <span>Subject</span>
                    </div>
                    <div class="alert alert-danger" *ngIf="Subject.errors && Subject.touched">
                        <small *ngIf="Subject.errors.required">
                          Subject is required
                        </small>  
                      </div>
           
                      <div class="inputBox">
                        <textarea name="Message" formControlName="Message" required="required"></textarea>
                        <span>Type Your Message.....</span>
                    </div>
                    <div class="alert alert-danger" *ngIf="Message.errors && Message.touched">
                        <small *ngIf="Message.errors.required">
                          Message is required
                        </small>  
                      </div>
             
              
                 
                <!--<div class="form-submit">
                    <input type="submit" value="Register" class="submit" name="submit" id="submit" />
                </div>-->
                <button type="submit" class="btn btn-block btn-success" [disabled]="UserForm.invalid">Submit</button>  
            </form>
        </div>
    </div>
</section>